.home-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    padding-bottom: 255px;
    align-items: center;
    justify-content: center;
}

.home-content {
    width: 90%;
    height: 90%;
    display: grid;

    grid-template-columns: repeat(5, 16%);
    /* grid-template-rows:  29%; */
    column-gap: 5%;
    row-gap: 5%;
}
@media only screen and (max-width:1518px) {
    .home-content{
        grid-template-columns: repeat(4, 20%);
        /* row-gap: 10%; */
        column-gap: 6.65%;
    }
}
@media only screen and (max-width:1218px) {
    .home-content{
        grid-template-columns: repeat(3, 25%);
        /* row-gap: 10%; */
        column-gap: 12.5%;
    }
}
@media only screen and (max-width:1016px) {
    .home-content{
        grid-template-columns: repeat(3, 29%);
       
        column-gap:6.45%;
    }
}
@media only screen and (max-width:833px) {
    .home-content{
        grid-template-columns: repeat(2, 38%);  
        column-gap:24.1%;
    }
}
@media only screen and (max-width:658px) {
    .home-content{
        grid-template-columns: repeat(2, 40.5%);  
        column-gap:19.1%;
    }
}
@media only screen and (max-width:602px) {
    .home-content{
        grid-template-columns: repeat(2, 44.6%);  
        column-gap:10.5%;
        row-gap: 4%;
    }
}
@media only screen and (max-width:544px) {
    .home-content{
        grid-template-columns: repeat(2, 46.6%);  
        column-gap:6.5%;
        row-gap: 4%;
    }
}
@media only screen and (max-width:520px) {
    .home-content{
        grid-template-columns: repeat(1, 75%);
        margin-left: 100px;
        row-gap: 2%;
        /* column-gap: 25.95%; */
    }
}