.navbar-body{
    width: 100%;
    height: 5.6vw;
    background-color: #191919;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}



.navbar-body:before, .navbar-body:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .navbar-body:after {
    filter: blur(50px);
  }






.navbar-container{
    width: 90%;
    height: 90%;
    margin: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
}
.navbar-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar-content__logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: #C84B31;
    font-size: 1.4vw;
}
.navbar-content__logo-img{
    height: 4vw;
    margin-right: 10px;
}
.navbar-content__links{
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    font-size: 1.3vw;
    font-family: 'Roboto Mono', monospace;
    color: #ECDBBA;
    text-decoration: none;
}
.active{

    border-bottom: 0.4vw solid #2D4263;
    
}

